<!DOCTYPE html>
<html lang="en">
<head>
    <title>KB Curator</title>
    <link href="/assets/img/agent.ico" name="favicon" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/mysite.css">
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/mysite.js"></script>
    <script type="text/javascript"></script>
<body>

<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/agent.png" width="30" height="30" alt="">
    </a>
</nav>


<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">MTU Test</h1>
                <p class="lead">Header Test</p>
                <p>Sends a http get request to /header and expects an HTTP 200 response.  This test ensures the http header response is received with an empty response body</p>

                <p class="lead">Data Test</p>
                <p>Sends a http get request to /data and expects an HTTP 200 response with specified amount of characters returned.  This ensures the app can send data and packets are not getting dropped because of MTU issues on the container network. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Perform Header Test</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Test Expects HTTP 200 response</h6>
                    <p></p>
                    <button type="button" class="btn btn-outline-primary" onclick="headerTest();">Run</button>
                    <div id="headerResponse" class="checkResponse"></div>
                </div>
            </div>


        </div>
        <div class="col-sm-4">

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Perform Data Test</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Test Expects 10k of data returned</h6>
                    <p></p>
                    <input type="text" id="dataReqSize">
                    <button type="button" class="btn btn-outline-primary" onclick="dataTest();">Run</button>
                    <div id="dataResponse" class="checkResponse"></div>
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</div> <!-- end container -->

</body>
</html>